################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/1111434031/w2-1/.vs/w2-1
/1111434031/w2-1/x64/Debug
